:host {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

gu-sidebar {
  display: block;
  z-index: 100;
}

main {
  flex: 1;
  overflow-y: auto;
  padding: 2rem 3rem;
  margin-left: 16.25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #f8f9fa;
  min-height: 100vh;
  transition: all 0.18s cubic-bezier(.2,.0,.2,1);
}

:host.gu-sidebar--collapsed main {
  margin-left: 3.4375rem; /* 55px */
}

.sidebar-container {
  display: flex;
  position: relative;
}
