header {
  background-color: #FFF;
  padding: 1rem 1rem 1rem 3rem;
  border-bottom: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  margin-left: 16.25rem;
  margin-bottom: 3rem;
  padding-right: 17.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  transition: all 0.18s cubic-bezier(.2,.0,.2,1);
  line-height: 0;

  h1 {
    font-size: 1.5rem;
  }

  span {
    font-size: 0.875rem;
    color: #22222294;
  }

  button.add-user-btn {
    background: #5886f3;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.18s cubic-bezier(.2,.0,.2,1);
    &:hover {
      background: #4a70c2;
    }

    i {
      color: #FFF;
      font-size: 1.2rem;
    }

    span {
      color: #FFF;
    }
  }
}

:host.header--sidebar-collapsed header {
  margin-left: 3.4375rem;
  padding-right: 4.5rem;
}
